@import "tailwindcss";

@theme {
  --color-redSuit: #FF7A00;
  --color-backSuit: #5890FF;
  --color-cardEdge: #F8F9FA;
  --color-cardColour: #F8F9FA;
  --color-gameScoreText: #FFFFFF;
  --color-gameStateText #FFFFFF;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}